## Sample Config file
general_configs:
  platform_execution: "rpi" #use 'rpi' option for using raspberrypi as DUT, for any other option used like 'nordic' or 'CustomDUT' same name will appear in log viewer UI and 'deviceModules' option from config will be read/used
  number_of_iterations: 10
  continue_excution_on_fail: True # accept only boolean values, when set to True the script will not stop if the iteration fails
  logFilePath: . # provide the path, when null-value or invalid-path is set the script will create a folder in current directory where logs will be stored.
  analytics_parameters: ["pairing_duration_info","heap_usage"]

dut_config:
  rpi: # these parameters are used to take ssh session to a remote host and start DUT application on a raspberrypi
    module: matter_qa.library.platform.raspberrypi #Python file which will inherit the BaseDUTNode class and define the behaviour of the DUT Working
    rpi_hostname: "192.168.1.107"
    rpi_username: "ubuntu"
    rpi_password: "raspberrypi"
    app_config: # these parameters are used to start the DUT application os user's choice, provide full app path and the arguments
      matter_app: "./out/all-clusters-app/chip-all-clusters-app --discriminator 3890 --passcode 45612378"

  nordic:
    module: matter_qa.library.platform.nordic #Python file which will inherit the BaseDUTNode class and define the behaviour of the DUT Working
    serial_port: "/dev/ttyACM1"
    serial_baudrate: 115200
    serial_timeout: 60
    command: "matter device factoryreset\n"

test_case_config:
  TC_Pair:
    number_of_iterations: 3
    retry_count: 3