<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compare Script Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', path='bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', path='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', path='compareGraphs.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='linechart.css') }}">
    <script src="{{url_for('static',path='d3_js/d3.v7.min.js')}}"></script>
    <style>

        .center_div {
              display: flex;
              align-items: center;
              justify-content: center;
              width: auto;

        }
        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
            width:auto;
        }
        .dropdown-item{
            overflow-x: auto;
        }
        
        
    </style>
</head>
<body>
{% include "navigation_bar.html" %}
    <div class="center_div">
        <div class="dropdown dropend d-grid gap-2 col-2 mx-auto">
        <button class="btn btn-secondary dropdown-toggle mt-3" type="button" id="multiLevelDropdown" data-bs-toggle="dropdown" title="Select scriptname,iteration and analytics parameter" aria-expanded="false" >
            Graph Parameters
        </button>
        <ul class="dropdown-menu" aria-labelledby="multiLevelDropdown">
            <!-- Level 1 -->
            {% for test_case_detail in test_case_details %}
            
            <li class="dropdown-submenu">
                <a class="dropdown-item" id="{{test_case_detail}}" level="1">
                    <label>{{test_case_detail}}</label>
                </a>

                <ul class="dropdown-menu">
                    <!-- Level 2 -->
                    {% for iteration in test_case_details[test_case_detail] %}
                    <li class="dropdown-submenu">
                        <a class="dropdown-item" href="#" id="{{iteration.iteration}}" level="2">
                            <label>{{iteration["iteration"]}}</label>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Level 3 -->
                            {% for parameter in iteration["analytics"] %}
                            <li class="dropdown-item ">
                                <input type="checkbox" id={{parameter}} value='{{iteration|tojson}}' type="application/json"> {{parameter.upper()}}
                            </li>
                            {% endfor %}
                            <!-- Level 3 end -->
                        </ul>
                    </li>
                    {% endfor %}
                    <!-- End Level 2 -->
                </ul>
            </li>
            {%endfor%}
        </ul>
        <button class="btn btn-primary mt-3" onclick="printSelectedItems()">Generate Graph</button>
    </div>
    </div>

    <div  class="main_container">
        <div id="div2" class="box2">
            
            <button type="button" class="btn btn-primary" onclick="zoom_refactor()">Zoom Refactor</button> <input type="number"  id="zoom-refactor">
            <br>
            <br>
            <button class="btn btn-primary" onclick="increaseWidth()">Increase Width By</button><input type="number" id="incr-width">
            <br>
            <br>
            <button class="btn btn-primary" onclick="decreaseWidth()">Decrease Width BY</button><input type="number" id="decr-width">
            <br>
            <br>
            <button class="btn btn-primary" onclick="increaseHeight()">Increase Height By</button><input type="number" id="incr-height">
            <br>
            <br>
            <button class="btn btn-primary" onclick="decreaseHeight()">Decrease Height By</button><input type="number" id="decr-height">
            <br>
            <br>
            <select id="analytics_options" class="form-select">
            </select>
          </div>
      <!-- First div -->
      <div id="div1" class="box1">
        <div class="graph_container">
            <div id="container">
            <p id="zoomLevel">Zoom Level: 1</p>
            </div>
        </div>
      </div>
    </div>

</body>
</html>