<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='tableStyles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='alerts.css') }}">
    <script src="{{ url_for('static', path='alerts.js') }}"></script>
    <title>DUT Logs WebApp</title>
</head>
<body>
    <center>
        <h1>Summary of Executions</h1>
        <table class="data-table">
        <thead>
            <tr>
                <th>Test Log Folder name</th>
                <th>Last modified</th>
                <th>Folder Size</th>
                <th>Folder Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for dirs in dir_list %}
                <tr>
                    <td>
                        <form action="/home/displayLogFolder" method="get">
                        <input type="hidden" value={{ dirs.dir_path }} name="dir_path">
                        <button type="submit">{{dirs.dir_name}}</button>
                        </form>
                    </td>
                    <td>{{ dirs.dir_last_modified }}</td>
                    <td>{{ dirs.dir_size }}</td>
                    <td>
                        <button style="color:green" onclick="fileFetch('{{log_dir}}','{{dirs.dir_name}}','zip')"> Download </button>
                        <button style="color:red" onclick="fileFetch('{{log_dir}}','{{dirs.dir_name}}','delete')"> Delete </button>
                    </td>
                     
                </tr>
            {% endfor %}
        </tbody>
    </table>
        </center>
<div id="customDialog" class="custom-dialog">
    <p>Are you sure you want to delete?</p>
    <button id="ok">OK</button>
    <button id="cancel">Cancel</button>
</div>

<!-- Overlay background -->
<div id="overlay" class="overlay"></div>

</body>
</html>